table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left;
}

th {
    background-color: #2C3E50;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ddd;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

.center-image {
	display: block;
	margin: 0 auto;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

form {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

p{
    text-align: center;
    font-size: 16px;
}

.form-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left;
}

.label{
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.center-text {
    text-align: center;
    font-size: 16px;
}

.form-button {
    background-color: #2C3E50;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
}

.center-image {
display: block;
margin: 0 auto;
}
